name: Run dbt Cloud Job

on:
  pull_request:
    branches:
      - main

jobs:
  run-dbt-cloud-job:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger dbt Cloud Job
        run: |
          curl -X POST \
            -H "Authorization: Token ${{ secrets.DBT_CLOUD_API_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{"cause": "Triggered by GitHub PR", "git_sha": "${{ github.sha }}"}' \
            https://fa321.eu2.dbt.com/api/v2/accounts/<account_id>/jobs/<Job_id>/run/
