name: Run dbt Cloud Job

on:
  pull_request:
    branches:
      - main

jobs:
  run-dbt-cloud-job:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger dbt Cloud Job
        id: trigger
        run: |
          response=$(curl -s -X POST \
            -H "Authorization: Token ${{ secrets.DBT_CLOUD_API_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{"cause": "Triggered by GitHub PR", "git_sha": "${{ github.sha }}"}' \
            https://fa321.eu2.dbt.com/api/v2/accounts/175956220182596/jobs/175956220197126/run/)
          
          run_id=$(echo $response | jq -r '.data.id')
          echo "run_id=$run_id" >> $GITHUB_ENV

      - name: Wait for dbt Cloud Job to finish
        run: |
          status="running"
          while [ "$status" == "running" ] || [ "$status" == "queued" ]; do
            sleep 10
            response=$(curl -s -X GET \
              -H "Authorization: Token ${{ secrets.DBT_CLOUD_API_TOKEN }}" \
              https://fa321.eu2.dbt.com/api/v2/accounts/175956220182596/runs/$run_id/)
            status=$(echo $response | jq -r '.data.status')
            echo "Current status: $status"
          done

          if [ "$status" != "success" ]; then
            echo "dbt Cloud job failed with status: $status"
            exit 1
          fi
